<h2 class="has-blue-dark-color" style="font-size: 1.5rem;">
  <img
    style="width: 200px; max-width: 33.333%;"
    src="<%= asset_url("conferences/community-2021/shaun-mcalmont.jpg") %>"
    alt=""
    class="float-right ml-6 mb-6"
    width="400"
    height="400"
  />
  Shaun McAlmont
</h2>

<hr style="border-top-width: 1px; margin: 1rem 0 1.25rem 0;" />

<p style="margin-bottom: 0.75em;">
  Shaun McAlmont is an education executive based in the United States. His parents both continued
  their education over many years, resulting in his father becoming an Engineer and mother a Nurse,
  while Shaun was in his teen years. Their lifelong commitment to hard work and learning inspired
  Shaun’s educational pursuits and career path. He understood the value of an education, and
  specifically the benefits of continued learning, all from the experience within his own home. At a
  young age Shaun found that he had natural academic, social and athletic abilities which he worked
  hard to master. Early life successes in these areas bolstered his confidence and developed his
  ability to motivate others by example. His efforts to avoid becoming one dimensional in his skills
  and achievements resulted in athletic and academic success, development of effective communication
  skills, and his selection as team captain of 3 separate sports over multiple years. He was also
  selected as valedictorian of his graduating class.
</p>

<p style="margin-bottom: 0.75em;">
  Shaun’s early accomplishments formed a foundation for his future achievements. Setting numerous
  athletic performance records while attending high&nbsp;school in Toronto led to multiple
  scholarship offers. Shaun selected Brigham Young University, where he attended as one of very few
  minority scholarship athletes. Despite this circumstance he succeeded, and as a captain of the BYU
  team, he played a leadership role while also achieving BYU performance records and multiple years
  of All-Western Athletic Conference recognition. While at BYU, he also earned the opportunity to
  compete internationally with the Canadian National Track Team.&nbsp;Shaun’s athletic background
  influences his work ethic, and life in general. He specialized in the hurdles which is a race
  requiring speed, strength, flexibility, endurance and a keen ability to clear high barriers while
  running at full speed. He considers the hurdles a metaphor for life as he continues to
  successfully clear life’s obstacles while moving at a rapid pace.
</p>

<p style="margin-bottom: 0.75em;">
  Shortly after graduating from BYU he was hired by Stanford University as an academic advisor for
  minority students and athletes, and two years later returned to work for his alma mater, BYU, in a
  similar role. He built a foundational understanding of student services in these roles, and served
  as a staff role model for students; a testament to his character and innate motivational
  abilities. Following these roles, Shaun spent a large part of his career working, advancing and
  gaining expertise in adult, technical, online and career education, positioning him as a national
  leader in these fields.&nbsp;He has been promoted in almost every position he’s held and has
  served as a leader in multiple organizations; achieving the top leadership position at two
  institutions.&nbsp;His ability to set and achieve goals, stay calm under pressure and work as both
  teammate and captain, continues to set him apart.&nbsp;&nbsp;
</p>

<p style="margin-bottom: 0;">
  Shaun’s career has given him exposure to educational technology, sales and marketing, student
  services, faculty and instruction, accreditation, finance, legal matters, and regulatory change.
  He has worked in traditional education settings, fully online environments, and middle school
  through adult and continuing education. Following his time as President and CEO of Lincoln
  Education, Shaun decided to pursue a doctoral degree to further validate his education experience
  and position him for future opportunities. He went on to earn his Doctorate in Higher Education
  from the University of Pennsylvania and graduated with a rare dual distinction for both his
  dissertation and also for the oral defense of his research, while also being selected to speak on
  behalf of his classmates at the Penn Higher Education graduation ceremony.&nbsp;Shaun leveraged
  his athletic experience to inform many aspects of his career trajectory, and notably focused his
  doctoral dissertation in the area of student services, and specifically on advising
  NCAA&nbsp;student athletes toward career readiness and success.&nbsp;He also traveled to India
  with the Penn program to study the unique dynamics and faculty role within the Indian higher
  education system. Shaun’s work and education achievements position him as one of the leading
  educators in the country to straddle secondary and post-secondary, online, career, and traditional
  education.&nbsp;
</p>
