<h2 class="has-blue-dark-color" style="font-size: 1.5rem;">
  <img
    class="float-right ml-6 mb-6"
    style="width: 200px; max-width: 33.333%;"
    src="<%= asset_url("conferences/community-2021/randall-stutman.jpg") %>"
    alt=""
    width="291"
    height="300"
  />
  Randall Stutman
</h2>

<hr style="border-top-width: 1px; margin: 1rem 0 1.25rem 0;" />

<p style="margin-bottom: 0.75em;">
  Managing Partner of CRA | Admired Leadership®, Dr. Stutman is widely recognized as an authority in
  leadership style and executive development.
</p>

<p style="margin-bottom: 0.75em;">
  Dr. Stutman is a leadership scientist dedicated to exploring the behaviors and routines of
  extraordinary leaders. Labeled by Goldman Sachs as the most experienced advisor and executive
  coach on Wall Street, he has served as a Principal Advisor to more than 2,000 Senior Executives,
  including 400 CEOs. His work as an advisor and speaker has taken him to the White House, West
  Point, the Olympics, and Harvard Business School. He has worked for more than 25 years with
  Fortune 500 companies, hedge funds, law firms, private equity funds, investment banks, and
  insurance companies, which includes Citi, Bank of America, Morgan Stanley, J.P. Morgan, Goldman
  Sachs, Deutsche Bank, Credit Suisse, Royal Bank of Canada, Bank of Montreal, BankUnited, State
  Farm Insurance, Nationwide, Blackstone, Nomura, Cowen, Evercore, BorgWarner, PerkinElmer, Silver
  Point Capital, Taconic Capital, GoldCorp, Latham &amp; Watkins, Neuberger Berman, Third Point,
  Senator Investment Group, BDT, Debevoise &amp; Plimpton, and Summit Rock Advisors, among many
  others.
</p>

<p style="margin-bottom: 0.75em;">
  With a fierce devotion to understanding what makes great leaders great, he is the founder of the
  Admired Leadership Institute® which is dedicated to uncovering and teaching the uncommon
  behavioral routines of the world’s best leaders. Dr. Stutman promotes the idea that exceptional
  leaders engage in the same routines in all aspects of their lives, including in the family, in the
  office, with friends and colleagues, and with clients. He is a popular speaker on the behaviors of
  extraordinary leaders and was delighted when he was recently introduced by a leader familiar with
  his work as a “practical savant.”
</p>

<p style="margin-bottom: 0;">
  Dr. Stutman began his career at the University of Illinois teaching and conducting research on
  managing conflict in relationships, groups, and organizations. Among many published works, he is
  the co-author of the award-winning book, “Working Through Conflict.” A former collegiate golfer,
  Dr. Stutman works with college golfers and golf teams to improve mental toughness whenever he has
  free time.
</p>
