<h2 class="has-blue-dark-color" style="font-size: 1.5rem;">
  <img
    class="float-right ml-6 mb-6"
    style="width: 200px; max-width: 33.333%;"
    src="<%= asset_url("conferences/community-2021/john-cook.jpg") %>"
    alt=""
    width="185"
    height="180"
  />
  John Cook
</h2>

<hr style="border-top-width: 1px; margin: 1rem 0 1.25rem 0;" />

<p style="margin-bottom: 0.75em;">
  John Cook is a Partner in the firm who advises senior leaders primarily in the Financial Services,
  Consumer, and Technology industries.
</p>

<p style="margin-bottom: 0.75em;">
  John’s client work focuses on developing leadership talent and coaching to behaviors that build
  the long-term relationship and communication skills essential to getting things done. He regularly
  counsels clients on critical decisions involving talent, leadership communication, feedback,
  performance management, and credibility. Representative clients include: Bank of America Merrill
  Lynch, BlackRock, Bristol-Meyers Squibb, Cowen, Dell Technologies, Estée Lauder, Fidelity
  Investments, Hershey, Morgan Stanley, Nomura, Point 72, SEI Investments, Summit Rock, and Sumo
  Logic.
</p>
<p style="margin-bottom: 0.75em;">
  John is also an adjunct professor of leadership to executive MBA students in the LeBow College of
  Business at Drexel University. Prior to joining CRA | Admired Leadership®, he was director of
  executive leadership development programs at the Villanova School of Business. Preceding
  Villanova, he spent ten years with Deloitte &amp; Touche culminating in national marketing and
  business planning roles. John began his career at Harvard University in the Office for Information
  Technology.
</p>
<p style="margin-bottom: 0;">
  John holds an MBA degree from Villanova University and is a graduate of an accredited
  coach-training program. He is also a classically trained musician with diplomas from The Academy
  of Vocal Arts and Boston University.
</p>
