<h2 class="has-blue-dark-color" style="font-size: 1.5rem;">
  <img
    class="float-right ml-6 mb-6"
    style="width: 200px; max-width: 33.333%;"
    src="<%= asset_url("conferences/community-2021/sophie-chandauka.jpg") %>"
    alt=""
    width="400"
    height="400"
  />
  Sophie Chandauka
</h2>

<hr style="border-top-width: 1px; margin: 1rem 0 1.25rem 0;" />

<p>
  Sophie is Global COO of Shared Services and Banking Operations at Morgan Stanley. Prior to that,
  she was EMEA COO of Morgan Stanley’s Legal and Compliance Division. Previously, as Head of Group
  Treasury (Legal) at Virgin Money, she led execution of corporate finance activity, including a
  lead role on the flotation of Virgin Money and other deals in excess of £13 billion. Prior to
  this, she was a Senior Associate at global firm Baker McKenzie, advising clients such as Nike, The
  Body Shop and Alliance Boots. As a campaigner for inclusion and diversity, Sophie is a Strategic
  Advisor to Morgan Stanley’s African and Caribbean Business Alliance, Head of Race Equity Strategy
  for the 30% Club and a member of The Executive Leadership Council (ELC). As an entrepreneur, she
  is Chair and Executive Founder of the Black British Business Awards and Chair and Chief Strategist
  of The Network of Networks. Sophie is a recipient of many industry awards and has featured in
  publications including The Financial Times, The Washington Post, The Sunday Times, Management
  Today, HR Director and Brummell. Sophie is a Rotary International Paul Harris Fellow and has
  served on several philanthropic boards, including Sentebale, which was founded by Prince Harry,
  the Duke of Sussex, to support children affected by HIV/ AIDS in Africa. In June 2021 Sophie was
  honoured with appointment by HM Queen Elizabeth II as a Member of the British Empire (MBE) for
  services to diversity in business.
</p>
