<h1>Reports#index</h1>
<p>Find me in app/views/reports/index.html.erb</p>

<div class="container">
  <div class="flex items-center p-8">
    <div class="flex-1">
      <div id="chart"></div>
    </div>
    <div class="flex-1">
      <%= image_tag "https://fillmurray.com/300/260" %>
    </div>
  </div>
</div>

<% content_for :additional_javascript do %>
  <%= javascript_packs_with_chunks_tag 'v1/reports-elastic' %>
<% end %>
