<div class="bg-grey-lighter">
  <div class="container px-8 md:pr-8 lg:pl-16">
    <div class="pt-12 pb-16">
      <div class="max-w-lg">
        <h1 class="mb-2 text-5xl text-grey-darker font-extrabold leading-tight">Edit Company</h1>
        <h2 class="text-3xl text-grey-darker font-bold leading-tight"><%= @company.name %></h2>
      </div>
    </div>
  </div>
</div>

<div class="container px-8 md:pr-8 lg:pl-16">
  <div class="pt-12 pb-16">
    <%= link_to "Company Users", users_admin_company_path(@company), class: "inline-block mb-6 btn btn--primary rounded" %>
    <%= render 'form', company: @company %>
  </div>
</div>
