.card {
  @apply .relative .flex .flex-col .h-full .no-underline .p-4 .border .border-grey-dark .shadow-md;
  transition: box-shadow 0.2s ease;
}

.card:hover {
  @apply .shadow-lg;
}

.card__icon {
  top: -2rem;
  left: 2rem;
}

.top-margin {
  margin-top: 181px
}

@media only screen and (max-width: 1200px) {
	.top-margin {
    margin-top: 64px
  }
}
