<li class="nav-item-wrap mb-1">
  <%= active_link_to admin_path, class: "nav-item", class_active: "is-highlighted" do %>
    <span class="nav-item__icon">
      <i class="text-2xl fas fa-tools"></i>
    </span>
    <span class="nav-item__label">Dashboard</span>
  <% end %>
</li>
