<% title "Conferences" %>
<img class="conferences-intro-image" src="https://admiredleadership.com/wp-content/uploads/2022/10/23_ALD_AnnualCommConference_header-copy.png" alt="Photo of Admired Leadership flags">

<section class="conferences-section-1 conferences-section">
  <div class="conferences-section__wrapper">
    <div class="conferences-section-1__text-content">
      <div class="conferences-text-block">
        <h3>It's time to change the conversation about leadership.</h3>
        <p>Take one day to focus on becoming the kind of leader who makes other people better.</p>
      </div>
      <div class="conferences-text-block">
        <h3>Does anyone think there are too many great leaders out there? Didn't think so.</h3>
        <p>If you’re like us, you want to be a better leader. You know you can be better than you are.</p>
      </div>
      <div class="conferences-text-block">
        <h3>Join us on October 10, 2023</h3>
        <p>The sessions will be virtual, but the content will still be powerful.</p>
        <p>These sessions are complimentary and open for anyone interested in learning about Admired Leadership.</p>

        <p>View the previous recordings at the links below. </p>
        <ul>
          <li>— <a href="https://admiredleadership.com/conference/2020-recap/" target="_blank" rel="noopener">October 13, 2020</a></li>
          <li>— <a href="https://admiredleadership.com/conference/2021-recap/" target="_blank" rel="noopener">October 12, 2021</a></li>
          <li>— <a href="https://admiredleadership.com/conference/2022-recap/" target="_blank" rel="noopener">October 11, 2022</a></li>
        </ul>
      </div>
      <!--<a class="register-button" href="https://admiredleadership.zoom.us/webinar/register/WN_K-C82K7hSKqtCV_FOHTzwQ" target="_blank">Register Now</a>-->
    </div>
    <div class="conferences-section-1__video">
      <img
      style="width: 100%; margin: auto; display: block;"
      class="vidyard-player-embed"
      src="https://play.vidyard.com/ZSwMECDVxKPFefF5RDHrnj.jpg"
      data-uuid="ZSwMECDVxKPFefF5RDHrnj"
      data-v="4"
      data-type="lightbox"
    />
    <script type="text/javascript" async src="https://play.vidyard.com/embed/v4.js"></script>
    </div>
  </div>
</section>

<section class="conferences-section-2 conferences-section">
  <div class="conferences-section__wrapper conferences-section__wrapper--agenda">
    <h2>Conference Agenda is To be Determined</h2>
    <ul>
      <li>
        <p>Time (TBD)</p>
        <p>Welcome Session</p>
      </li>
      <li>
        <p>Time (TBD)</p>
        <p>Session 1</p>
      </li>
      <li>
        <p>Time (TBD)</p>
        <p>Session 2</p>
      </li>
      <li>
        <p>Time (TBD)</p>
        <p>Session 3</p>
      </li>
      <li>
        <p>Time (TBD)</p>
        <p>Wrap-up and Upcoming Events</p>
      </li>
    </ul>
    <p>All sessions will be recorded and shared with registered participants.</p>
  </div>
</section>
