<% title 'Contact Us' %>

<div class="bg-grey-lighter">
  <div class="container px-8 md:pl-16 md:pr-8">
    <div class="py-12 lg:py-16">
      <div class="max-w-lg">
        <h1 class="text-4xl lg:text-5xl text-grey-darker font-extrabold leading-tight">Contact Us</h1>
      </div>
    </div>
  </div>
</div>

<div class="container px-8 md:pr-8 lg:pl-16">
  <div class="py-12 lg:py-16">
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
      portalId: '6588352',
      formId: 'a885e828-e9a6-4018-9c92-12fc7669a63a',
      cssClass: 'full-width lg:max-w-3/4',
      submitButtonClass: 'w-full md:w-auto mb-4 md:mb-0 px-6 py-3 text-center is-highlighted'
    });
    </script>
  </div>
</div>
