<div class="bg-grey-lighter">
  <div class="container px-8 md:pr-8 lg:pl-16">
    <div class="pt-12 pb-16">
      <div class="max-w-lg">
        <h1 class="text-5xl text-grey-darker font-extrabold leading-tight">New Bundle</h1>
      </div>
    </div>
  </div>
</div>

<%= render 'form', curriculum_bundle: @bundle %>
