<% title "Community Discussion Groups" %>

<div class="bg-grey-lighter">
  <div class="container px-8 lg:px-16">
    <nav class="py-8">
      <ul class="list-reset flex items-center -mx-1">
        <li class="mx-1 text-grey-darker text-sm"><i class="far fa-angle-left align-middle"></i></li>
        <li class="mx-1"><%= link_to "Resources", curriculum_resource_categories_path, class: "text-sm" %></li>
      </ul>
    </nav>
    <div class="lg:pt-4 pb-16 max-w-lg mx-auto">
      <h1 class="mb-2 text-4xl lg:text-5xl text-grey-darker font-extrabold leading-tight">Community Discussion Groups</h1>
    </div>
  </div>
</div>

<div class="container px-8 lg:px-16">
  <div class="pt-12 pb-16 xl:pr-24 max-w-lg mx-auto">
    <div class="w-full">
      <p class="mb-4">One of the best ways to engage with Admired Leader behaviors at a deeper level is by participating in one of our community discussion groups. You’ll be involved in straight forward discussion about leadership challenges and behavioral strategies. It’s about the content, but also connecting with other leaders.</p>
      <p class="mb-4">The groups meet online once a month. There are a number of days and times available. An Admired Leadership coach will be on hand to facilitate the conversation. There is no additional fee.</p>
      <p class="mb-4">However, a study group only works if those involved are truly committed to participating. This doesn’t mean 100% attendance is required — just that we are looking for folks who are serious about this process.</p>
      <p class="mb-4">Because we deeply believe in the power of discussion and dialogue, we are confident that participation in an Admired Leadership study group will enrich and accelerate your progress toward becoming a better leader.</p>
      <p class="mb-4">To get started, use the sign-up form below and we’ll be in touch.</p>
      <div class="bg-white mt-8 mb-4 shadow-md overflow-hidden">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
          portalId: '6588352',
          formId: '35f833d2-86a3-40e0-abac-b26a9c23caa9',
          cssClass: 'px-8 pb-8 pt-6',
          submitButtonClass: 'w-full md:w-auto mb-4 md:mb-0 px-6 py-3 text-center is-highlighted'
        });
        </script>
      </div>
    </div>
  </div>
</div>
